/Behavioral/Strategy/cmake-build-debug/
/cmake-build-debug/
/Behavioral/Observer/cmake-build-debug/
/Creational/Singleton/cmake-build-debug/
/Structural/Adapter/cmake-build-debug/
.idea/
/Creational/Builder/cmake-build-debug/
/Structural/Bridge/cmake-build-debug/
/Creational/Factory Method/cmake-build-debug/
/Creational/Prototype/cmake-build-debug/
